      html{
        scroll-behavior: smooth;
      }



      .TransparentBackgroudText{


        margin-bottom:3px;
      }

      *{
        padding:0px;
        margin:0px;
        box-sizing: border-box;
      }

      body{
        font-family:Arial,serif;
        font-size: 1.125rem;

      }

      nav{
        background-image: linear-gradient(to right, #FAD7A0,#AF601A);

      }
      .navbar-brand{
        padding-top: 0px;
      }

      #NavBarArea b{
        position:relative;
        animation :textmoving 3s 1;
        animation-delay : 1s ;
        animation-fill-mode : forwards ;
      }

      @keyframes textmoving {
        from{font-size: 1.125rem;color: #FAE5D3;}
          to{font-size:1.6rem;color:##273746;font-weight: bold;}
      }

      #NavBarArea{
        transition:0.6s;
      }
      #navbarContent a{
        margin-right:5px;
        font-weight: bold;
        color:white;
        transition: 0.5s;
      }
      #navbarContent a:hover{
        font-size: 1.5rem;
        transform: translateY(-10px);
        color:black;

      }
      #navbar img{
        position: relative;
        height:60px;
        width:80px;
        transition: 0.5s ;
        background-color:#ECF0F1;
        border-radius:20%;
      }

      #navbar img:hover{
        transform:translate(10px,-5px);
      }
      @media only screen and (max-width:800px){
        @keyframes textmoving{
      from{left:20px;color:black;font-size:1.125rem;border:none;padding:none;}
          to{left:20px;color:black;font-size:1.125rem;border:none;padding:none;}
        }
      }

    #navbar button:hover{
    border:none;
    outline:none;
    }

    #navbarContent{
    float:right;
    text-align:right;

    }

    .carousel-item img{
      height:550px;
    }
      @media only screen and (max-width:600px){
        .carousel-item img{
          height:450px;
        }
      }



    .nav-menus{
      background-color: #AEB2B4;
    }

    #contact img{
      width:50%;
      height:50%;
      margin-left: 45px;

    }

    .jumbotron-fluid{
      background-color: #B2BABB !important;
      padding:1px;


    }

    #contact-title{

      font-weight:600;
      color:#1C2833;
      text-shadow:-2px 2px 5px #B9770E;
    }

    #socialmedialink div{
      margin-right:10px;
      margin-left:10px;
    }

    #socialmedialink i{
      transition:.5s;
    }

        a .fa-instagram{
          color: #E74C3C;
        }

          a .fa-whatsapp{
            color: #28B463;
          }

    a .fa-instagram:hover{
      color:#E74C3C !important;
      transform:scale(1.3);
    }
    a .fa-facebook:hover{
      transform:scale(1.3);
    }

    a .fa-wordpress-simple:hover{
      color:#1F618D !important;
      transform:scale(1.3);
    }
    a .fa-whatsapp:hover{
      color:#1E8449 !important;
      transform:scale(1.3);

    }

    #footer{
    background-image: linear-gradient(to right, #FBEEE6,#E59866);
    }

    #productDetails{
        background-image: linear-gradient(to right, #EAFAF1,#7DCEA0);
    }

    .modal-body ul li{
      list-style-type: none;
    }


      .chester-image{
        width:80px;
        height:80px;
        border-radius: 50%;
        display:block;
        margin-right:auto;
        margin-left:auto;
        box-shadow: 2px 2px 5px blue;
      }

      #bg-image img{
      margin:0px;
      padding:0px;
      height:400px;
      width:100%;
      margin-bottom: 2px;
      }


      #productDetails{

      }

      #bg-image img{
        transition: 0.5s;
      }
      #bg-image img:hover{
        transform:translateY(-20px);
      }

      .chesterreview{
        border-right:2px solid red;
      }
